

img{
    width: 250px;
    height: 150px;
    padding-left: 1200px;
   
}
.text-p{
    padding-left: 200px;
   margin: 0;
   
}
.text-p-0{
    padding-right: 200px;
}
.img-0{
width: 500px ;
height: 350px;
padding-left: 1px;
}
