.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
*{
    padding:0;
    margin: 0;
}
.block-h1{
    text-align: center;
    padding-top: 30px;
}
/*Header
===================================*/
.header{
    position: absolute;
    width: 100%;
}


.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link{
    color: white;
    text-decoration: none;
    padding-right: 40px;
}
/*Intro
=================================*/



.intro{
    width:100% ;
    height: 100vh;
    background-image:linear-gradient(rgb(43, 51, 88, 0.5), rgb(43, 51, 88, 0.5)), url(../img/banner.png);
    background-size: cover;

}
.intro-inner{
    position: absolute;
    top: 40%;
    text-align: center;
    left: 22%;
    color: white;
}
.intro-inner h1{
    font-size: 52px;
    padding-bottom: 10px;
}
.intro-inner p{
    padding-bottom: 50px;
}
.intro-button{
    padding: 28px 40px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    transition: all 0.4s;
}
.intro-button:hover{
    background-color: white;
    color: black;
}
/*Courses
==========================================================*/
.courses{
    text-align: center;
padding-top: 100px;
padding-bottom: 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    }
    .courses-col{
        width: 27%;
        background-color: rgb(227, 227, 227);
        padding: 30px;
        transition: all .3s;
    }
    .courses-inner h1{
        padding-bottom: 10px;
    }
    .courses-inner p{
        padding-bottom: 60px;
    }
.courses-col h3{
    padding-bottom: 20px;
}
.courses-col:hover{
    box-shadow: 0 0 20px 0  rgba(110, 110, 110, 0.8);
}

/*Campus
=====================================================*/
.campus{
    text-align: center;
    padding-bottom: 100px;
}
.campus-col{
    width: 32%;
    position: relative;
}
.campus-col img{
    width: 100%;
    height: 100%;
} 
.label{
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.label h3 {
    position: absolute;
    width: 100%;
    bottom: 20px;
    height: 10%;
    padding-top: 400px;
    transition: all .3s;
}
.label:hover{
    background-color: rgba(182, 214, 246, 0.722);
}
.label h3:hover{
bottom: 120px;
}
.courses-p{
    padding-bottom: 80px;
}
/*FACILITIES
====================================================*/
.facilities-inner h1{
text-align: center;
}
.c-text{
    text-align: center;
    padding-top: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.facilities{
    padding-top: 100px;
    padding-bottom: 100px;
}
.facilities-col{
    width: 30%;
}
.facilities-col h3{
    padding-top: 40px;
    padding-bottom: 40px;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    padding-top: 30px;
}
/*Comments
================================================================*/
.comments{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.comments-col h3{
padding-top: 20px;
padding-bottom: 50px;
}
.comments-col img{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    border-radius: 30px;
}
.comments-col{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.fa-solid{
    color: rgb(82, 82, 82);


}
/*Contacts
====================================================================*/
.contacts{
    text-align: center;
    color: white;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image:linear-gradient(rgb(43, 51, 88, 0.5), rgb(43, 51, 88, 0.5)) , url(../img/conta_historias.max-1200x800.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts h1{
    padding-bottom: 50px;
}
/*Footer
======================================================*/
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.footer-p{
    padding-top: 40px;
    padding-bottom: 50px;
}
.fa-brands{
    color: tomato;
    font-size: 24px;
    padding: 20px;
}
.fa-solid{
    color: tomato;
}

@media (max-width:768px) {
    .intro-inner{
        left: 12%;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .courses-col , .campus-col, .facilities-inner{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}


/*About page
===============================================
===============================================*/
.intro-about{
    width:100% ;
    height: 50vh;
    background-image:linear-gradient(rgb(43, 51, 88, 0.5), rgb(43, 51, 88, 0.5)), url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.about-intro-inner {
    position: absolute;
    top: 20%;
    text-align: center;
    left: 40%;
    color: white;
}
.intro-about ,  .intro-inner h1{
    font-size: 52px;
    padding-bottom: 10px;}
    .intro-content-inner{
        display: flex;
        justify-content: space-between;
    }
    .about-content-inner{
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;
    }
 .about-text{
        width: 500px;
    }
  
.about-text p{
padding-top: 20px;
padding-bottom: 50px;
}
.about-content-inner img{
    width: 50%;
    
  
}
    .about-button{
        padding: 20px 40px;
        border: 2px solid tomato;
        color: tomato;
        text-decoration: none;
      
    }

    /*Blog
    =============================================================*/
    .blog{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .blog-inner{
        display: flex;
        justify-content: space-between;
    }
    .blog-content{
        width: 65%;
    }
    .blog-content  img{
        width: 100%;
        height: 60vh;
    }
    .blog-content h3{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 28px;
    } 
    .blog-content p{
        padding-top:20px ;
        padding-bottom: 20px;
    }
    .categories{
        width: 22%;
    }
    .categories div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;


    }
.blog-button{
    width: 45%;
    padding: 10px;
    margin-bottom: 40px;
    background-color: tomato;
    border: 2px solid tomato;
    color: white;
    font-weight: 1000;
    transition: all .4s;
}
.blog-button:hover{
    background-color: white;
    color: tomato;
}

.form h1{
    font-size:24px ;
    padding-bottom: 20px;
}
.form{
  border: 2px solid rgb(218, 217, 217);
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.form input{
    border: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(217, 217, 217);
    border: none;
}
.form textarea{
    background-color: rgb(217, 217, 217);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
}
/*Map
=======================================================================*/
.map{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.adress-inner {
    display: flex;
   justify-content: space-between;
    padding-bottom: 40px;
}
.adress-inner .form{
    width: 40%;
    
}
.adress-number{
    display: flex;
}

.adress-content{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
}
.adress-content i{
    padding: 20px;
    font-size: 24px;
    
}
.adress-content h3{
    padding-bottom: 10px;
}